body{
    background-color: rgb(229, 247, 131);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

fieldset{
    border-radius: 30px;
    border: 2px solid black;
    background-color: white;
    font-style: unset;
}

legend, label, input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}
